@media screen and (min-width: 501px) {
  body {
    background-color: rebeccapurple;
    font-family: 'Gloria Hallelujah', cursive;
  }
  /* * {
    border: solid 1px red
  } */
  
  .header {
    display: block;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 45px;
    text-decoration: underline;
    flex: none;
  }
  
  .game {
    width: 35%;
    margin: auto;
    display: flex;
    flex-wrap: row;
  }
  
  .board {
    display: grid;
    grid: repeat(3, 90px) / repeat(3, 90px);
    gap: 3px;
    background-color: rgb(186, 183, 183);
    height: 100%;
  }
  
  .square {
    width: 90px;
    height: 90px;
    font-size: 70px;
    color: rgb(242, 158, 2);
    text-align: center;
    background-color: rebeccapurple;
  }
  
  .status {
    background-color: white;
    border-radius: 5px;
    padding: 5px 40px;
    margin-bottom: 10px;
    font-size: 1.2em;
    
  }
  
  .control-panel {
    margin-left: 50px;
    padding: 5px;
    border-left: dashed 1px lightgrey;
    border-width: 2px;
    padding-left: 50px;
  }
  
  .moves {
    display: flex;
    flex-flow: column;
  }
  
  button {
    padding: 10px auto;
    font-size: 15px;
    font-family: consolas;
    margin: 5px 0;
    border-radius: 10px;
    border-color: rgb(126, 250, 126);
    background-color: #bfbfbf
  }
  
  button.bold {
    border-color: orange;
    border-width: 4px;
  }
  
  .winning-square {
    color: rgb(18, 255, 18);
  }
}



@media screen and (max-width: 500px) {
  body {
    background-color: rebeccapurple;
    font-family: 'Gloria Hallelujah', cursive;
  }

  .game {
    width: 70%;
    margin: auto;
  }

  .game::before {
    content: "Tic-Tac-Toe";
    display: block;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
  }
  .board {
    display: grid;
    grid: repeat(3, 80px) / repeat(3, 80px);
    gap: 3px;
    background-color: lightgrey;
    text-align: center;
  }

  .square {
    width: inherit;
    height: inherit;
    font-size: 50px;
    color: rgb(242, 158, 2);
    text-align: center;
    background-color: rebeccapurple;
  }

  .control-panel {
    margin-top: 40px;
  }

  .status {
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom: soild 1px red;
  }

  .moves {
    display: flex;
    flex-flow: column;
    margin: 20px;
  }

  button {
    /* padding: 10px auto; */
    font-size: 15px;
    font-family: consolas, Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 0;
    border-radius: 10px;
    border-color: rgb(126, 250, 126);
    background-color: #bfbfbf
  }
  
  button.bold {
    border-color: orange;
    border-width: 4px;
  }
  
  .winning-square {
    color: rgb(18, 255, 18);
  }

  .header {
    display: none;
  }
}

.drop-down {
  padding: 10px;
  margin: 5px 25px;
  font-size: 20px;
  font-family: inherit;
  border-radius: 5px;
}

.drop-option {
  background-color: lightgray;
}

.draw {
  background-color: orange;
  color: white;
}

.win {
  background-color: rgb(6, 206, 6);
  color: white;
}