body {
  background-color: rebeccapurple;
  font-family: cursive;
}


/* * {
  border: solid 1px red
} */

.game {
  width: 35%;
  margin: auto;
  display: flex;
  flex-wrap: row;
}

.board {
  display: grid;
  grid: repeat(3, 90px) / repeat(3, 90px);
  gap: 3px;
  background-color: rgb(186, 183, 183);
  height: 100%;
}

.square {
  width: 90px;
  height: 90px;
  font-size: 70px;
  color: rgb(242, 158, 2);
  text-align: center;
  background-color: rebeccapurple;
}

.status {
  background-color: white;
  border-radius: 5px;
  padding: 5px 40px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.control-panel {
  margin-left: 50px;
  padding: 5px;
  border-left: dashed 1px lightgrey;
  border-width: 2px;
  padding-left: 50px;
}

.moves {
  display: flex;
  flex-flow: column;
}

button {
  padding: 10px auto;
  font-size: 15px;
  font-family: consolas;
  margin: 5px 0;
  border-radius: 10px;
  border-color: orange;
  background-color: #bfbfbf
}